@import 'fonts.css';

:root {
    --primary-background: #ffffff;
    --secondary-background: #7177F1;
    --secondary-text-color: #7177F1;
    --primary-title-color: #7177F1;
    --secondary-title-color: #ffffff;
    --primary-text-color: #323232;
    --secondary-text-color-alt: #ffffff;
    --primary-font-family: 'Montserrat';
}

body {
    font-family: var(--primary-font-family);
    background: var(--primary-background);
}

.header-link {
    font-size: 24px;
    text-transform: capitalize;
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-right: 30px;
    transition: .5s;


}

.header-link:hover {
    color: var(--primary-text-color);
}

.header-button {
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-title-color);
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-decoration: none;
    font-size: 24px;
    text-transform: capitalize;
    transition: .5s;
    margin-right: 60px;
}

.header-button:hover {
    background: var(--primary-background);
    color: var(--secondary-text-color);
}

.phone::before {
    content: '\f87b';
    font-style: normal;


}

.header-phone {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 25px;
    transition: .5s;
}

.header-phone:hover {
    color: var(--primary-text-color);
}

.slider-left-title {
    font-size: 24px;
    text-transform: capitalize;
    color: var(--primary-text-color);


}

.slider-left-text {
    font-size: 40px;
    color: var(--secondary-text-color);
    text-transform: capitalize;
    line-height: 50px;
    margin-bottom: 25px;
}

.slider-left-link {
    font-size: 18px;
    padding: 12px 58px;
    background: #7177F1;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-title-color);
    display: flex;
    margin: 0 auto;
    width: 299px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.slider-left-link:hover {
    color: var(--secondary-title-color);
}

.slider-left-icon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.slider-left-icon-text {
    font-size: 20px;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 15px;
}

.carousel-indicators [data-bs-target] {
    background: var(--primary-title-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;


}

.carousel-indicators {
    margin-bottom: 0;
}

.button-indicator {
    position: relative;
    display: flex;
    gap: 15px;
    margin-top: 50px;

}

.carousel-photo {
    height: 550px;
    object-fit: contain;
}

/* ------section about------- */
.about {
    padding-top: 80px;
    position: relative;
}

.shape {
    position: absolute;
    z-index: -1;
}

.shape-1 {
    right: 0;
    top: -400px;
    width: 60%;
}

.about-motto {
    text-transform: uppercase;
    background: var(--primary-background);
    width: 190px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 10px;
}

.about-rating {
    background: #0FDAC2;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-title-color);
    position: absolute;
    top: -14px;
    right: -10px;
}

.about-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    text-transform: capitalize;
    color: #7177F1;
    margin-bottom: 25px;
}

.about-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: var(--primary-text-color);
    margin-bottom: 40px;
}

.about-button {
    width: 190px;
    height: 45px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--secondary-text-color-alt);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: 100%;
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    transition: .5s;
}

.about-button:hover {
    color: var(--primary-text-color);
    background: var(--primary-background);
}

.about-content {
    background: var(--primary-background);
    padding: 30px;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
}

.about {
    padding-top: 80px;
}

.accordion-angel::before {
    content: '\f0d7';
    font-style: normal;
    font-size: 30px;
}

.accordion-button::after {
    display: none;
}

.accordion_button {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    border: none;
    outline: none;
    transition: .5s;
    font-size: 18px;
    font-weight: 900;
    color: var(--secondary-title-color);
    text-transform: uppercase;
    background: var(--secondary-background);
    padding: 15px 30px 0 30px;
}

.accordion_button.collapsed {
    color: var(--primary-title-color);
    background: transparent;
}

.accordion-logo {
    width: 50px;
    height: 30px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion_button::after {
    background: #dddddd;
}

.accordion__item:not(:last-child) .accordion_button::after {
    content: '';
    width: 100%;
    display: flex;
    height: 1px;
    margin-top: 15px;
}

.accordion__body {
    padding: 10px 30px 55px;
    background: var(--secondary-background);
    color: var(--secondary-text-color-alt);
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
}

.bootstrap::before {
    content: '\f836';
    font-size: 30px;
    font-style: normal;
}

.accordion-angel {
    transform: rotate(0);
    transition: .5s;
}

.collapsed .accordion-angel {
    transform: rotate(-180deg);
}

.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
}

.section-title {
    color: var(--primary-title-color);
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    line-height: 49px;
    font-weight: 600;
    margin-bottom: 30px;

}

.capabilities {
    padding-top: 80px;
    position: relative;
}


/* ------section about------- */

.works__tab {
    width: 100%;
    background: var(--primary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    height: 60px;
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 0 20px;
    transition: .5s;

}

.rectangle5 {
    width: 60px;
    height: 60px;
    left: 350px;
    top: 115px;
    border-radius: 50%;
    border: 5px solid #9297EF;
    z-index: -2;

}

.accordion {
    background-color: #ffffff;
}

.works {
    position: relative;
    margin-top: 75px;
}


.works_item:first-child .works__tab {
    border-radius: 8px 8px 0px 0px;
}

.works_item:last-child .works__tab {
    border-radius: 0px 0px 8px 8px;
}

.works__tab.active,
.works__tab:hover {
    background: var(--secondary-background);
    color: var(--secondary-text-color-alt);
}

.works__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 320px;
    object-position: center;
}

.works__content {
    padding: 20px;
    background: var(--primary-background);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
}

.works__name {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    margin-bottom: 25px;
    color: var(--primary-title-color);
}

.works__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;
    color: var(--primary-text-color);
}

.works__link {
    width: 190px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--secondary-background);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    color: var(--secondary-text-color-alt);
    transition: .5s;
}

.works__link:hover {
    color: var(--primary-text-color);
    background: var(--primary-background);
}

.footer {
    margin-top: 220px;
    padding-bottom: 130px;
    position: relative;
}

.rectangle8 {
    width: 73.9px;
    height: 73.7px;
    left: 125.3px;
    bottom: 100px;
    border: 5px solid #790FF1;
    box-sizing: border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-radius: 50%;
}

.footer__link,
.footer__contact {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-text-color);
    text-decoration: underline;
    text-decoration-color: transparent;
}

.footer__link:hover,
.footer__contact:hover {
    color: var(--primary-text-color);
    text-decoration-color: inherit;

}

.intro {
    padding-top: 40px;
    position: relative;
}

.rectangle {
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.rectangle1 {
    border-color: #790FF1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -30px;
    left: 240px;
}

.rectangle2 {
    border: 5px solid #9297EF;
    height: 80px;
    width: 80px;
    transform: rotate(45deg);
    left: 30px;
    top: 92px;
}

.rectangle3 {
    border: 5px solid #7177F1;
    box-sizing: border-box;
    transform: matrix(0.76, -0.66, 0.64, 0.76, 0, 0);
    width: 80.04px;
    height: 80.23px;
    right: 300px;
    top: 419.38px;
}

.rectangle4 {
    width: 98.53px;
    height: 98.26px;
    right: 150px;
    top: 10px;
    border: 5px solid #9297EF;
    box-sizing: border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.shape2 {
    width: 60%;
    height: 988.13px;
    left: -202px;
    top: -230px;
}

.rectangle6 {
    width: 59.62px;
    height: 60.58px;
    left: 1078.65px;
    top: 500.42px;
    border: 5px solid #790FF1;
    border-radius: 50%;
}

.rectangle7 {
    width: 98.42px;
    height: 98.38px;
   right: 90px;
    top: 300.71px;
    border: 5px solid #7177F1;
    box-sizing: border-box;
    transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
}
.navbar-brand::before{
    content: url('../images/MYWORK.png');
    
}